[submodule "extern/spdlog"]
	path = extern/spdlog
	url = ../../gabime/spdlog.git
[submodule "extern/benchmark"]
	path = extern/benchmark
	url = ../../google/benchmark.git
[submodule "extern/catch2"]
	path = extern/catch2
	url = ../../catchorg/Catch2.git
