[submodule "extern/spdlog"]
	path = extern/spdlog
	url = ../../gabime/spdlog.git
[submodule "extern/benchmark"]
	path = extern/benchmark
	url = ../../google/benchmark.git
[submodule "extern/catch2"]
	path = extern/catch2
	url = ../../catchorg/Catch2.git
[submodule "extern/blaze"]
	path = extern/blaze
	url = ../../../bitbucket.org/blaze-lib/blaze.git
[submodule "extern/abseil"]
	path = extern/abseil
	url = ../../abseil/abseil-cpp.git
[submodule "extern/date"]
	path = extern/date
	url = ../../HowardHinnant/date.git
[submodule "extern/sanitizers-cmake"]
	path = extern/sanitizers-cmake
	url = ../../arsenm/sanitizers-cmake.git
[submodule "extern/vcpkg"]
	path = extern/vcpkg
	url = ../../microsoft/vcpkg.git
[submodule "extern/hpx"]
	path = extern/hpx
	url = ../../STEllAR-GROUP/hpx
[submodule "extern/yaml-cpp"]
	path = extern/yaml-cpp
	url = ../../jbeder/yaml-cpp
[submodule "extern/range-v3"]
	path = extern/range-v3
	url = ../../ericniebler/range-v3
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11.git
[submodule "extern/xtensor-python"]
	path = extern/xtensor-python
	url = ../../xtensor-stack/xtensor-python.git
[submodule "extern/xtensor"]
	path = extern/xtensor
	url = ../../xtensor-stack/xtensor.git
[submodule "extern/xtl"]
	path = extern/xtl
	url = ../../xtensor-stack/xtl.git
